.container {
  padding: 5rem 0 5rem 0;
  background: var(--primary-color-light);
}

.contentWrapper {
  padding: 0 2rem;
  max-width: 1280px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  grid-gap: 2rem;
}

.addressInfoContainer {
  .address {
    text-align: center;
    line-height: 1.5;
  }
}

@media (max-width: 1075px) {
  .contentWrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .contactContainer {
    grid-column: span 2;
  }
}

@media (max-width: 710px) {
  .container {
    padding: 3rem 0 3rem 0;
    background: var(--primary-color-light);
  }

  .contentWrapper {
    grid-template-columns: repeat(1, 1fr);
  }

  .addressInfoContainer {
    transform: translateY(0px);
  }

  .contactContainer {
    grid-column: span 1;
  }
}
