@font-face {
  font-family: "Crimson Pro";
  src: url("../public/fonts/CrimsonPro-Regular.eot");
  src: url("../public/fonts/CrimsonPro-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/CrimsonPro-Regular.woff2") format("woff2"),
    url("../public/fonts/CrimsonPro-Regular.woff") format("woff"),
    url("../public/fonts/CrimsonPro-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nacelle";
  src: url("../public/fonts/Nacelle-SemiBold.eot");
  src: url("../public/fonts/Nacelle-SemiBold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Nacelle-SemiBold.woff2") format("woff2"),
    url("../public/fonts/Nacelle-SemiBold.woff") format("woff"),
    url("../public/fonts/Nacelle-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nacelle";
  src: url("../public/fonts/Nacelle-Regular.eot");
  src: url("../public/fonts/Nacelle-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Nacelle-Regular.woff2") format("woff2"),
    url("../public/fonts/Nacelle-Regular.woff") format("woff"),
    url("../public/fonts/Nacelle-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nacelle";
  src: url("../public/fonts/Nacelle-Bold.eot");
  src: url("../public/fonts/Nacelle-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/Nacelle-Bold.woff2") format("woff2"),
    url("../public/fonts/Nacelle-Bold.woff") format("woff"),
    url("../public/fonts/Nacelle-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Antipasto Pro";
  src: url("../public/fonts/AntipastoPro.eot");
  src: url("../public/fonts/AntipastoPro.eot?#iefix")
      format("embedded-opentype"),
    url("../public/fonts/AntipastoPro.woff2") format("woff2"),
    url("../public/fonts/AntipastoPro.woff") format("woff"),
    url("../public/fonts/AntipastoPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-color-dark: #cbbb9f;
  --primary-color-light: #dfd6c5;
  --secondary-color-dark: #84c6ec;
  --secondary-color-light: #b4dcf3;
  --black: #3d3d3d;
  --white: #fff;
  --demo-image-color: #efefef;
  --image-bg-color: #dfd6c5;
  /* Fonts */
  --headline-font: "Crimson Pro";
  --text-font: "Nacelle";
  --navigation-font: "Antipasto Pro";
  /* Sizes */
  --main-head-size: 3rem;
  --secondary-head-size: 2rem;
  --text-size: 1rem;
  /* Shadow */
  --box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
