.headlineContainer {
  font-family: var(--headline-font);
  color: var(--black);
  margin-bottom: 1rem;
}

.h1 {
  font-size: var(--main-head-size);
}

.h2 {
  font-size: var(--secondary-head-size);
}

.center {
  text-align: center;
}
