.headlineContainer {
  color: var(--black);
}

.secondary {
  font-family: var(--text-font);
}

.primary {
  font-family: var(--headline-font);
}

.headWrapper {
  display: inline-block;
}

.h1 {
  position: relative;
  z-index: 2;
  font-size: var(--main-head-size);
}

.h2 {
  position: relative;
  z-index: 2;
  font-size: var(--secondary-head-size);
}

.center {
  text-align: center;
}

.mb {
  margin-bottom: 1rem;
}

.line {
  transform: translate(-2.5%, 200%);
  width: 105%;
  height: 20px;
  background-color: var(--secondary-color-light);
}
