.sectionFourContainer {
  padding: 10rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  max-width: 1280px;
  margin: 0 auto;
}

.sectionFourContent {
  padding: 2rem 0;
}

.sectionFourHeadline {
  font-family: var(--headline-font);
  font-size: var(--main-head-size);
  color: var(--black);
  font-weight: 400;
  margin-bottom: 2rem;
}

.sectionFourText {
  font-family: var(--text-font);
  font-size: var(--text-size);
  color: var(--black);
  line-height: 1.5;
  margin-bottom: 2.5rem;
}

.link {
  font-family: var(--text-font);
  font-size: var(--text-size);
  font-weight: bold;
  color: var(--secondary-color-dark);
}

/* INVERT */
.sectionFourContainerInvert {
  padding: 10rem 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  max-width: 1280px;
  margin: 0 auto;
}

.sectionFourContainerInvert .sectionFourContent {
  grid-row: 1;
}

@media (max-width: 830px) {
  .sectionFourContainer {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .sectionFourText {
    text-align: center;
  }

  .sectionFourHeadline {
    text-align: center;
  }

  /* INVERT */
  .sectionFourContainerInvert {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }

  .sectionFourContainerInvert .sectionFourContent {
    grid-row: unset;
  }
}

/* IMG */
.imageContainer {
  position: relative;
  display: inline-block;
}

.imageWrapper {
  position: relative;
  width: 450px;
  height: 450px;
  background: var(--demo-image-color);
  box-shadow: var(--box-shadow);
  z-index: 1;
}

.bgImageElement {
  width: 450px;
  height: 450px;
  background: var(--primary-color-light);
  position: absolute;
  z-index: 0;
  transform: translate(2rem, 2rem);
}

/* Invert */
.imageWrapperInvert {
  position: relative;
  width: 450px;
  height: 450px;
  background: var(--demo-image-color);
  box-shadow: var(--box-shadow);
  z-index: 1;
  transform: translate(2rem, -2rem);
}

.bgImageElementInvert {
  width: 450px;
  height: 450px;
  background: var(--primary-color-light);
  position: absolute;
  z-index: 0;
}

@media (max-width: 520px) {
  .imageWrapper {
    position: relative;
    width: 80vw;
    height: 80vw;
  }

  .bgImageElement {
    width: 80vw;
    height: 80vw;
  }

  .imageWrapperInvert {
    position: relative;
    width: 80vw;
    height: 80vw;
  }

  .bgImageElementInvert {
    width: 80vw;
    height: 80vw;
  }
}

@media (max-width: 830px) {
  .imageContainer {
    transform: translateX(-1rem);
  }
}
